body {
	width: 100%;
	height: 100%;
}

label {
	color: #313131;
	font-family: Euphemia UCAS;
}

/*
  Color variables
 */

$primery-color: #3063d0;
$light-grey: #f8f8f8;
$easy-grey: #e9e7e8;
$grey: #c4c3bf;
$dark-grey: #c6c3be;
$dark-white: #ffffff;


